body,
html {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

button {
	position: relative;
	color: red;
}

canvas {
	position: absolute;
	width: 100%;
	height: 100vh;
	background-color: #00ff00;
	margin: 0;
}
